/HoudiniTD/
/UtilsTD/
/MayaTD/
/ClarisseTD/
/ClarisseTD/*
/.idea/.gitignore
/.idea/GrepConsole.xml
/.idea/misc.xml
/.idea/modules.xml
/NukeTD/.idea/modules.xml
/NukeTD/.idea/NukeTD.iml
/.idea/inspectionProfiles/profiles_settings.xml
/NukeTD/.idea/inspectionProfiles/profiles_settings.xml
/ClarisseTD/README.md
/NukeTD/.idea/modules.xml
/NukeTD/.idea/NukeTD.iml
/NukeTD/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/NukeTD/.idea/vcs.xml
/.idea/VfxToolset.iml
/NukeTD/.idea/workspace.xml
/NukeTD/.idea/modules.xml
/NukeTD/.idea/NukeTD.iml
/NukeTD/.idea/inspectionProfiles/profiles_settings.xml
/NukeTD/.idea/vcs.xml
/NukeTD/.idea/workspace.xml
/ClarisseTD/
/HoudiniTD/.idea/HoudiniTD.iml
